html, body {
}

#pass{
  font-size: 1.5em;
}
#userbtn, #button {
  font-size: 1.5em;

}
#addUser{
padding-top: 350px;

}
#user{
  font-size: 1.5em;
}
#command{
  font-size: 1.5em;
}

#formbox {
  font-size: 1.4em;
  float: left;
  padding: 20px;
  border: 1px solid #999999;
}
#databox {
  font-size: 2em;
  float: left;
  width: 1200px;
  height: 700px;
  overflow: auto;
  margin-left: 20px;
  padding: 20px;
  border: 1px solid #999999;
}
